<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="https://vidly-a-node-app.herokuapp.com/api/users">Users</a></li>
                <li><a href="https://vidly-a-node-app.herokuapp.com/api/movies">Movies</a></li>
                <li><a href="https://vidly-a-node-app.herokuapp.com/api/customers">Customers</a></li>
                <li><a href="https://vidly-a-node-app.herokuapp.com/api/rentals">Rentals</a></li>
            </ul>
        </div>
    
    </div>
    </nav>