<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Vidly Video Rental App</h1>
        <p>using MEAN Stack</p>
        
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>